{% extends 'base.html' %}
{% block content %}
    <div class="row mt-5">
        <div class="col-12 col-lg-8">
            <section class="pl-3">
                <div class="d-flex align-items-baseline align-content-baseline">
                    <h1 class="h2 mt-4 font-weight-bold"></h1>
                </div>
                <h4>Проект реализован в рамках тестового задания от компании:
                    Новые технологии безопасности</h4>
                <h5>
                    Сделать на Django простое приложение, добавляющее
                    ресурсы-хосты к пользователям.
                </h5>
                <p class="mt-2">
                    Требуемый функционал:
                </p>
                <ul class="mb-4">
                    <li>Регистрация и аутентификация пользователей. Для
                        регистрации использовать встроенный UserCreationForm,
                        для аутентификации — AuthenticationForm.
                    </li>
                    <li>
                        Аутентифицированные пользователи:
                        <ul>
                            <li>
                                Могут добавлять и редактировать свои хосты (IP
                                + порт +
                                тип ресурса)
                            </li>
                            <li>
                                Не могут видеть хосты других пользователей
                            </li>
                        </ul>
                    </li>
                </ul>
                <p>Плюсом будет создание группы
                    пользователей-администраторов:</p>
                <ul>
                    <li>
                        Администраторы могут видеть, добавлять/назначать и
                        редактировать хосты других пользователей
                    </li>
                </ul>
                <p>Формат ресурса-хоста:</p>
                <ul>
                    <li>IP адрес</li>
                    <li>Порт</li>
                    <li>Вид ресурса на выбор из списка (Windows, Unix, SQL)
                    </li>
                    <li>Владелец/-цы хоста (пользователи)</li>
                    <li>Дата и время последнего редактирования ресурса</li>
                </ul>
                <p class="mt-2">
                    В проекте использовались следующие технологии:
                </p>
                <ul class="text-muted mb-4">
                    <li>Python</li>
                    <li>Django</li>
                </ul>
            </section>
        </div>
    </div>
{% endblock %}
